@page "/{ns}/modules"
@namespace Anamnesis.Dashboard.Pages
@model ModulesModel
<!DOCTYPE html>
<head>
    <title>Modules - @Model.Namespace - Anamnesis</title>
</head>
<p><a href="/">Home</a></p>
<h1>@Model.Namespace - Modules</h1>
<table>
    <tr>
        <th>Name</th>
        <th>System</th>
        <th>Version</th>
        <th>Summary</th>
    </tr>
    @foreach (var module in Model.Modules)
    {
        <tr>
            <td>@module.Name</td>
            <td>@module.System</td>
            <td>@module.Version</td>
            <td>@module.Summary</td>
        </tr>
    }
</table>
