@page "/{ns}/modules/{name}/{system}/{version}"
@namespace Anamnesis.Dashboard.Pages
@model ModuleModel
<!DOCTYPE html>
<head>
    <title>@Model.Namespace/@Model.Name/@Model.System - @Model.Version - Anamnesis</title>
</head>
<p><a href="/">Home</a> <a href="/@Model.Namespace/modules">@Model.Namespace</a></p>
<h1>@Model.Namespace/@Model.Name/@Model.System - @Model.Version</h1>
<h2>@Model.Module.Summary</h2>

<div style="display: grid; grid-template-columns: 33% 0.5% 33% 0.5% 33%;">
    <div>
        <h3>Readme</h3>
        <div style="border: 1px solid">
            @Html.Raw(Model.Readme)
        </div>
    </div>

    <div></div>

    <div>
        <h3>Variables</h3>
        @foreach (var variable in Model.Module.Variables)
        {
            <h4>@variable.Value.Name</h4>
            <table style="border: 1px solid">
                @if (variable.Value.Type != null)
                {
                    <tr style="border: 1px solid">
                        <th style="border: 1px solid">Type</th>
                        <td style="border: 1px solid">@variable.Value.Type</td>
                    </tr>
                }

                @if (variable.Value.Description != null)
                {
                    <tr style="border: 1px solid">
                        <th style="border: 1px solid">Description</th>
                        <td style="border: 1px solid">@variable.Value.Description</td>
                    </tr>
                }

                <tr style="border: 1px solid">
                    <th style="border: 1px solid">Required</th>
                    <td style="border: 1px solid">@variable.Value.Required</td>
                </tr>

                <tr style="border: 1px solid">
                    <th style="border: 1px solid">Sensitive</th>
                    <td style="border: 1px solid">@variable.Value.Sensitive</td>
                </tr>
            </table>
        }
    </div>

    <div></div>

    <div>
        <h3>Outputs</h3>
        @foreach (var output in Model.Module.Outputs)
        {
            <h4>@output.Value.Name</h4>
            <table style="border: 1px solid">
                @if (output.Value.Description != null)
                {
                    <tr style="border: 1px solid">
                        <th style="border: 1px solid">Description</th>
                        <td style="border: 1px solid">@output.Value.Description</td>
                    </tr>
                }

                <tr style="border: 1px solid">
                    <th style="border: 1px solid">Sensitive</th>
                    <td style="border: 1px solid">@output.Value.Sensitive</td>
                </tr>
            </table>
        }
    </div>
</div>
