@page "/{ns}/modules/{name}/{system}/{version}"
@namespace Anamnesis.Dashboard.Pages
@model ModuleModel
<!DOCTYPE html>
<head>
    <title>@Model.Name/@Model.System - @Model.Version - Modules - @Model.Namespace - Anamnesis</title>
</head>
<p><a href="/">Home</a></p>
<h1>@Model.Name/@Model.System - @Model.Version - Modules - @Model.Namespace</h1>
<h2>@Model.Module.Summary</h2>

<div style="display: grid; grid-template-columns: 50% 25% 25%;">
    <div>
        <h3>Readme</h3>
        @Html.Raw(Model.Readme)
    </div>

    <div>
        <h3>Variables</h3>
        @foreach (var variable in Model.Module.Variables)
        {
            <table>
                <tr>
                    <th>Name</th>
                    <td>@variable.Value.Name</td>
                </tr>

                @if (variable.Value.Type != null)
                {
                    <tr>
                        <th>Type</th>
                        <td>@variable.Value.Type</td>
                    </tr>
                }

                @if (variable.Value.Description != null)
                {
                    <tr>
                        <th>Description</th>
                        <td>@variable.Value.Description</td>
                    </tr>
                }

                <tr>
                    <th>Required</th>
                    <td>@variable.Value.Required</td>
                </tr>

                <tr>
                    <th>Sensitive</th>
                    <td>@variable.Value.Sensitive</td>
                </tr>
            </table>
        }
    </div>

    <div>
        <h3>Outputs</h3>
        @foreach (var output in Model.Module.Outputs)
        {
            <table>
                <tr>
                    <th>Name</th>
                    <td>@output.Value.Name</td>
                </tr>

                @if (output.Value.Description != null)
                {
                    <tr>
                        <th>Description</th>
                        <td>@output.Value.Description</td>
                    </tr>
                }

                <tr>
                    <th>Sensitive</th>
                    <td>@output.Value.Sensitive</td>
                </tr>
            </table>
        }
    </div>
</div>
